*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    text-align: center;
    width: 100%;
    padding: 1.2rem;
    position: relative;
}

h1{
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
    border-bottom:#555 5px solid;
    padding-bottom: 15px;

}

.board{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.list{
    background-color: lightgray;
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    min-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.list h2{
    color: #555;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.card{
    background-color: white;
    color: #333;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:active{
    cursor:grabbing;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(223, 45, 45, 0.952);
}

.list.over{
    background-color: #383535;
}
.card.hover{
    border: 2px dashed #f74848;
    transform: scale(1.05);
}


@media (max-width:770px){
    .board{
        flex-direction: column;
        align-items: center;
    }

    .list{
        width: 80%;
        margin-bottom: 20px;
    }
}

.addCard{
    position: absolute;
    top: 20px;
    right: 35px;
}

#AddCardButton{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

#AddCardButton:hover{
    background-color: #45a049;
    transform: scale(1.05);
}

#AddCardButton:active{
    transform: scale(0.98);
}

.deleteCard{
    position: absolute;
    top: 20px;
    right: 175px;
}
#DeleteCardButton{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

#DeleteCardButton:hover{
    background-color: #e53935;
    transform: scale(1.05);
}

#DeleteCardButton:active{
    transform: scale(0.98);
}